body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
}
header {
    margin-bottom: 2rem;
}
nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.5rem;
}
.one {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}
.one > button {
    padding: 1rem;
}